DATABASE_URL=postgresql://postgres:Mikias$Ki0915@db.mckqexvurdicfmtrjkcc.supabase.co:6543/postgres?pgbouncer=true&sslmode=require
DIRECT_URL=postgresql://postgres:Mikias$Ki0915@db.mckqexvurdicfmtrjkcc.supabase.co:5432/postgres?sslmode=require
NEXTAUTH_SECRET=EkThHiwXqj/8rkzHMWBv8cT03ZTh1k4mM8W36Ch0S8A=
NEXTAUTH_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=https://your-project-ref.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-supabase-service-role-key
